<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Universidades</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>Informe a universidade: </ion-label>
    <ion-input placeholder="universidade" type="text"></ion-input>
    <ion-label>Informe o país: </ion-label>
    <ion-input placeholder="país"></ion-input>
    <ion-button color="primary"  (click)="sendRequest()">Search</ion-button>


    <ion-label>
      
    </ion-label>

  </div>

  

</ion-content>
